h1 {
    color: black;
}

img {
    border: 1px solid;
    border-radius: 10px;
    width: 500px;
}

.row {
    display: flex;
}

.box {
    width: 398px;
    height: 458px;
    border: 1px solid black;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin-right: 5px;
    text-align: center;
}